@use '_reset';
@use './mixins';
@use './variables';
@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/regular.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/brands.scss';

body {
  margin: variables.$margin-medium;
  // font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

div, section, footer, header {
  // border: 1px solid #000000;
}

.container {
  // margin-top: .5em
}

.example-class {
  @include mixins.respond(phone) {
    font-size: 14px;
  }
}

// Example Solid style of user
ech-icon {
  @extend %fa-icon;
  @extend .fa-regular;

  &:after {
    content: fa-content($fa-var-circle-play); // "\f144";
    vertical-align: middle;
    margin-left: 0.25em;
  }
}
