@use '_reset';
@use './mixins';
@use './variables';

body {
  margin: variables.$margin-medium;
  // font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.container {
  // margin-top: .5em
}

.example-class {
  @include mixins.respond(phone) {
    font-size: 14px;
  }
}
